{% extends "base.html" %}

{% block content %}




    <div class="container-custom">
        <h3>{{cat.title}}</h3>
        <div class="img-container">
            <img src="/media/{{cat.image}}" style="max-height: 450px; width:100%;object-fit: cover;" alt="">
        </div>

        <div class="collection">
            {% for p in post %}

            <div class="image-container">
                <img src="/media/{{p.image}}" style="max-height: 170px; width: auto;" class="collection-item" alt="">
            </div>
            <a href="/blog/{{p.url}}" class="collection-item">{{p.title}}</a>


            {% empty %}

            <h3>No post in this category</h3>

            {% endfor %}
        </div>
    </div>
{% endblock %}

